<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>查询页面</title>
    <LINK th:href="@{/css/Style.css}" href="/css/Style.css" type=text/css rel=stylesheet>
    <LINK th:href="@{/css/Manage.css}" href="/css/Manage.css" type=text/css rel=stylesheet>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js">
    </script>
    <script type="text/javascript" th:inline="javascript">
        /* 分页操作 */
        function changePage(pageNum){
            //1 将页码的值放入对应表单隐藏域中，并提交表单
            var totalPage = [[${pageInfo.pages}]];
            var pageSize = [[${pageInfo.pageSize}]];
            if (pageNum <= 0){
                pageNum = 1;
                alert("当前已经是第1页了!");
                return false;
            } else if (pageNum > totalPage){
                pageNum = totalPage;
                alert("当前已经是最后1页了!");
                return false;
            }
            $("#page_num").val(pageNum);
            $("#page_size").val(pageSize);
            $("#pageForm").submit();
        };

        /* 更换页面显示记录数 */
        function changePageSize(pageSize){
            //1 将页码的值放入对应表单隐藏域中,提交表单
            var pageNum = [[${pageInfo.pageNum}]];
            $("#page_size").val(pageSize);
            $("#page_num").val(pageNum);
            $("#pageForm").submit();
        };

        /* 跳转到指定页码 */
        function jumpPage(pageNum) {
            var totalPage = [[${pageInfo.pages}]];
            var pageSize = [[${pageInfo.pageSize}]];
            if (pageNum <= 0){
                alert("页码不能小于1!");
                return false;
            } else if (pageNum > totalPage){
                alert("页码不能超出最大页码!!");
                return false;
            }
            $("#page_num").val(pageNum);
            $("#page_size").val(pageSize);
            $("#pageForm").submit();
        }
    </script>
</head>
<body>
<TABLE cellSpacing=0 cellPadding=0 width="98%" border=0>
    <TBODY>
    <TR>
        <TD width=15>
            <IMG th:src="@{/images/new_019.jpg}" src="/images/new_019.jpg" border=0>
        </TD>
        <TD width="100%" style="background: url('/images/new_020.jpg');height: 20px">
            <IMG th:src="@{/images/new_020.jpg}" src="/images/new_020.jpg" border=0>
        </TD>
        <TD width=15>
            <IMG th:src="@{/images/new_021.jpg}" src="/images/new_021.jpg" border=0>
        </TD>
    </TR>
    </TBODY>
</TABLE>
<TABLE cellSpacing=0 cellPadding=0 width="98%" border=0>
    <TBODY>
    <TR>
        <TD width=15 th:style="'background:url('+@{/images/new_022.jpg}+');'" background="/images/new_022.jpg">
            <IMG th:src="@{/images/new_022.jpg}" src="/images/new_022.jpg" border=0>
        </TD>
        <TD vAlign=top width="100%" bgColor=#ffffff>
            <TABLE cellSpacing=0 cellPadding=5 width="100%" border=0>
                <TR>
                    <TD class=manageHead>当前位置：联系人管理 &gt; 联系人列表</TD>
                </TR>
                <TR>
                    <TD height=2></TD>
                </TR>
            </TABLE>
            <TABLE borderColor=#cccccc cellSpacing=0 cellPadding=0
                   width="100%" align=center border=0>
                <TBODY>
                <TR>
                    <TD height=25>
                        <FORM id="pageForm" name="linkManForm"
                              action="#" th:action="@{/linkman/list}"
                              method=post>
                            <!-- 隐藏域.当前页码 -->
                            <input type="hidden" name="pageNum" id="page_num" value="1"/>
                            <!-- 隐藏域.每页显示条数 -->
                            <input type="hidden" name="pageSize" id="page_size" value="3"/>
                            <TABLE cellSpacing=0 cellPadding=2 border=0>
                                <TBODY>
                                <TR>
                                    <TD>客户名称：</TD>
                                    <TD>
                                        <INPUT class=textbox id=sChannel2
                                               style="WIDTH: 80px" maxLength=50 name="cust_name" value="">
                                    </TD>
                                    <TD>
                                        <INPUT class=button id=sButton2 type=submit
                                               value=" 筛选 " name=sButton2>
                                    </TD>
                                </TR>
                                </TBODY>
                            </TABLE>
                        </FORM>
                    </TD>
                </TR>

                <TR>
                    <TD>
                        <TABLE id=grid
                               style="BORDER-TOP-WIDTH: 0px; FONT-WEIGHT: normal; BORDER-LEFT-WIDTH: 0px; BORDER-LEFT-COLOR: #cccccc; BORDER-BOTTOM-WIDTH: 0px; BORDER-BOTTOM-COLOR: #cccccc; WIDTH: 100%; BORDER-TOP-COLOR: #cccccc; FONT-STYLE: normal; BACKGROUND-COLOR: #cccccc; BORDER-RIGHT-WIDTH: 0px; TEXT-DECORATION: none; BORDER-RIGHT-COLOR: #cccccc"
                               cellSpacing=1 cellPadding=2 rules=all border=0>
                            <TBODY>
                            <TR style="FONT-WEIGHT: bold; FONT-STYLE: normal; BACKGROUND-COLOR: #eeeeee; TEXT-DECORATION: none">
                                <TD>联系人名称</TD>
                                <TD>性别</TD>
                                <TD>办公电话</TD>
                                <TD>手机</TD>
                                <TD>所属客户</TD>
                                <TD>操作</TD>
                            </TR>
                            <TR th:each="linkman:${pageInfo.list}" style="FONT-WEIGHT: normal; FONT-STYLE: normal; BACKGROUND-COLOR: white; TEXT-DECORATION: none">
                                <TD th:text="${linkman.linkName}"></TD>
                                <TD th:text="${linkman.linkGender}== 1?'男':'女'"></TD>
                                <TD th:text="${linkman.linkPhone}"></TD>
                                <TD th:text="${linkman.linkMobile}"></TD>
                                <TD th:text="${linkman.belongCustomer}!=null?${linkman.belongCustomer.custName}:''"></TD>
                                <TD>
                                    <a th:href="@{'/linkman/get/'+${linkman.linkId}}" href="#">修改</a>
                                    &nbsp;&nbsp;
                                    <a th:href="@{'/linkman/delete/'+${linkman.linkId}}" href="#">删除</a>
                                </TD>
                            </TR>
                            </TBODY>
                        </TABLE>
                    </TD>
                </TR>

                <TR>
                    <TD>
                        <SPAN id=pagelink>
                            <DIV style="LINE-HEIGHT: 20px; HEIGHT: 20px; TEXT-ALIGN: right">
                                共[<B th:text="${pageInfo.total}"></B>]条记录,[<B th:text="${pageInfo.pages}"></B>]页
                                ,每页显示
                                <select name="pageSize"
                                        onchange="changePageSize($('#pageSizeSelect option:selected').val())"
                                        id="pageSizeSelect">
                                    <option value="3" th:selected="${pageInfo.pageSize}==3?'true':'false'">3</option>
                                    <option value="5" th:selected="${pageInfo.pageSize}==5?'true':'false'">5</option>
                                </select>
                                条
                                [<A href="javaScript:void(0)"
                                    th:onclick="|javascript:changePage(${pageInfo.pageNum - 1})|">前一页</A>]
                                <B></B>
                                [<A href="javaScript:void(0)"
                                    th:onclick="|javascript:changePage(${pageInfo.pageNum + 1})|">后一页</A>]
                                到
                                <input type="text" size="3" id="page" name="page"
                                       value=""/>
                                页<input type="button" value="Go"
                                        onclick="jumpPage($('#page').val())"/>
                            </DIV>
						</SPAN>
                    </TD>
                </TR>
                </TBODY>
            </TABLE>
        </TD>
        <TD width=15 th:style="'background:url('+@{/images/new_023.jpg}+');'" background="/images/new_023.jpg"><IMG
                th:src="@{/images/new_023.jpg}" src="/images/new_023.jpg" border=0></TD>
    </TR>
    </TBODY>
</TABLE>
<TABLE cellSpacing=0 cellPadding=0 width="98%" border=0>
    <TBODY>
    <TR>
        <TD width=15>
            <IMG th:src="@{/images/new_024.jpg}" src="/images/new_024.jpg" border=0>
        </TD>
        <TD align=middle width="100%" th:style="'background:url('+@{/images/new_025.jpg}+');'" background="/images/new_025.jpg" height=15>
            <IMG th:src="@{/images/new_025.jpg}" src="/images/new_025.jpg" border=0>
        </TD>
        <TD width=15>
            <IMG th:src="@{/images/new_026.jpg}" src="/images/new_026.jpg" border=0>
        </TD>
    </TR>
    </TBODY>
</TABLE>
</body>
</html>
